.tech {
  padding-top: fluid(50px, 80px, $bp-mobile, $bp-tablet);
  padding-bottom: fluid(50px, 80px, $bp-mobile, $bp-tablet);
  background-color: $c-black;

  @include on-tablet {
    padding-top: fluid(80px, 100px, $bp-tablet, $bp-desktop);
    padding-bottom: fluid(80px, 101px, $bp-tablet, $bp-desktop);
  }

  @include on-desktop {
    padding-top: fluid(100px, 160px, $bp-desktop, $bp-desktop-xl);
    padding-bottom: fluid(101px, 161px, $bp-desktop, $bp-desktop-xl);
  }

  @include on-desktop-xl {
    padding-top: 160px;
    padding-bottom: 161px;
  }

  &__title {
    color: $c-white;

    @include on-desktop {
      margin-left: fluid(717px, 805px, $bp-desktop, $bp-desktop-xl);
    }

    @include on-desktop-xl {
      margin-left: 805px;
    }
  }

  &__accent {
    @extend %heading-accent;
  }

  &__scheme {
    position: relative;

    width: fluid(214px, 416px, $bp-mobile, $bp-tablet);
    height: fluid(205.7px, 380.8px, $bp-mobile, $bp-tablet);
    margin-top: 31.7px;
    margin-left: fluid(25px, 113px, $bp-mobile, $bp-tablet);

    @include on-tablet {
      width: fluid(416px, 1055px, $bp-tablet, $bp-desktop);
      height: fluid(380.8px, 355px, $bp-tablet, $bp-desktop);
      margin-top: fluid(31.7px, 80px, $bp-tablet, $bp-desktop);
      margin-left: fluid(113px, 3px, $bp-tablet, $bp-desktop);
    }

    @include on-desktop {
      width: fluid(1055px, 1175px, $bp-desktop, $bp-desktop-xl);
      height: fluid(355px, 354px, $bp-desktop, $bp-desktop-xl);
      margin-top: 80px;
      margin-left: fluid(3px, 192px, $bp-desktop, $bp-desktop-xl);
    }

    @include on-desktop-xl {
      width: 1175px;
      height: 354px;
      margin-left: 192px;
    }
  }

  &__device {
    position: absolute;
    top: fluid(11px, 27px, $bp-mobile, $bp-tablet);
    left: fluid(17px, 58px, $bp-mobile, $bp-tablet);

    aspect-ratio: 394 / 390;
    height: fluid(194.7px, 353.8px, $bp-mobile, $bp-tablet);

    @include on-tablet {
      top: fluid(27px, 61px, $bp-tablet, $bp-desktop);
      left: fluid(58px, 341.2px, $bp-tablet, $bp-desktop);
      aspect-ratio: 716 / 708;
      height: fluid(353.8px, 294px, $bp-tablet, $bp-desktop);
    }

    @include on-desktop {
      top: fluid(61px, 60px, $bp-desktop, $bp-desktop-xl);
      left: fluid(341.9px, 359.9px, $bp-desktop, $bp-desktop-xl);
      aspect-ratio: 313 / 294;
      height: 294px;
    }

    @include on-desktop-xl {
      top: 60px;
      left: 359.9px;
    }

    &-image,
    img {
      display: block;
      width: 100%;
      max-width: none;
      height: 100%;
    }
  }

  &__marker {
    position: absolute;

    width: fluid(34px, 61.7px, $bp-mobile, $bp-tablet);
    height: fluid(34px, 61.7px, $bp-mobile, $bp-tablet);
    border-radius: 50%;

    background-color: $c-accent;

    transition:
      transform $transition-duration $transition-timing,
      background-color $transition-duration $transition-timing;

    &::before,
    &::after {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      background-color: $c-white;
    }

    &::before {
      width: 31%;
      height: 2px;
    }

    &::after {
      width: 2px;
      height: 31%;
    }

    &:hover {
      transform: scale(1.1);
    }

    &--sensor {
      top: fluid(-11px, -27px, $bp-mobile, $bp-tablet);
      left: fluid(60px, 64.7px, $bp-mobile, $bp-tablet);

      @include on-tablet {
        top: -7.63%;
        left: 18.08%;
      }
    }

    &--connection {
      top: fluid(80px, 145px, $bp-mobile, $bp-tablet);
      left: fluid(134px, 247px, $bp-mobile, $bp-tablet);

      @include on-tablet {
        top: 40.98%;
        left: 69.03%;
      }
    }

    &--battery {
      top: fluid(153px, 273px, $bp-mobile, $bp-tablet);
      left: fluid(-17px, -58px, $bp-mobile, $bp-tablet);

      @include on-tablet {
        top: 77.16%;
        left: -16.21%;
      }
    }

    @include on-tablet {
      aspect-ratio: 1;
      width: 17.24%;
      height: auto;
    }

    @include on-desktop {
      display: none;
    }
  }

  &__line {
    display: none;

    @include on-desktop {
      position: absolute;
      display: block;
    }

    &--sensor {
      @include on-desktop {
        top: fluid(9px, 8px, $bp-desktop, $bp-desktop-xl);
        left: fluid(101px, 91px, $bp-desktop, $bp-desktop-xl);

        width: fluid(403px, 431px, $bp-desktop, $bp-desktop-xl);
        height: 72px;
        border-top: 1px solid $c-accent;
        border-right: 1px solid $c-accent;
      }

      @include on-desktop-xl {
        top: 8px;
        left: 91px;
        width: 431px;
      }

      &::before {
        @include on-desktop {
          @include tech-dot;

          top: -0.5px;
          left: 3px;
          transform: translate(-50%, -50%);
        }
      }
    }

    &--connection {
      @include on-desktop {
        top: fluid(119.5px, 118.5px, $bp-desktop, $bp-desktop-xl);
        left: fluid(226px, 137px, $bp-desktop, $bp-desktop-xl);
        width: fluid(133.9px, 241px, $bp-desktop, $bp-desktop-xl);
        height: 113px;
      }

      @include on-desktop-xl {
        top: 118.5px;
        left: 137px;
        width: 241px;
      }

      &::before {
        @include on-desktop {
          content: '';

          position: absolute;
          bottom: 0;
          left: 0;

          width: 61.4%;
          height: 100%;
          border-right: 1px solid $c-accent;
          border-bottom: 1px solid $c-accent;
        }
      }

      &::after {
        @include on-desktop {
          @include tech-dot;

          top: calc(100% - 0.5px);
          left: 3px;
          transform: translate(-50%, -50%);
        }
      }
    }

    &-turn {
      display: none;

      @include on-desktop {
        position: absolute;
        top: 0;
        right: 0;

        display: block;

        width: 38.6%;
        border-top: 1px solid $c-accent;
      }

      &::before {
        @include on-desktop {
          @include tech-dot;

          top: -0.5px;
          right: 0;
          transform: translate(50%, -50%);
        }
      }
    }

    &--battery {
      @include on-desktop {
        top: fluid(8px, 7px, $bp-desktop, $bp-desktop-xl);
        left: fluid(509px, 527px, $bp-desktop, $bp-desktop-xl);

        width: fluid(191.5px, 283px, $bp-desktop, $bp-desktop-xl);
        height: 245px;
        border-right: 1px solid $c-accent;
        border-bottom: 1px solid $c-accent;
      }

      @include on-desktop-xl {
        top: 7px;
        left: 527px;
        width: 283px;
      }

      &::before {
        @include on-desktop {
          @include tech-dot;

          top: 3px;
          right: -0.5px;
          transform: translate(50%, -50%);
        }
      }

      &::after {
        @include on-desktop {
          @include tech-dot;

          bottom: -0.5px;
          left: 3px;
          transform: translate(-50%, 50%);
        }
      }
    }
  }

  &__spec {
    display: none;

    @include on-desktop {
      position: absolute;
      display: block;
    }

    &--sensor {
      @include on-desktop {
        top: 0;
        left: 0;
        width: 250px;
      }
    }

    &--connection {
      @include on-desktop {
        top: fluid(217px, 216px, $bp-desktop, $bp-desktop-xl);
        left: fluid(86px, 0, $bp-desktop, $bp-desktop-xl);
        width: 241px;
      }

      @include on-desktop-xl {
        left: 0;
      }
    }

    &--battery {
      @include on-desktop {
        top: 0;
        left: fluid(717px, 831px, $bp-desktop, $bp-desktop-xl);
        width: fluid(338px, 344px, $bp-desktop, $bp-desktop-xl);
      }

      @include on-desktop-xl {
        left: 831px;
        width: 344px;
      }
    }
  }

  &__spec-title {
    color: $c-white;
  }

  &__list {
    margin-top: 21px;
    list-style: none;
  }

  &__item {
    @extend %text-1;

    color: $c-grey;
  }
}
